    <form class="form-auth" ng-submit="login()">
        <h2 class="title">Sign In</h2>
        <p class="text-warning">{{error_message}}</p>
        <label class="form-label">USERNAME</label>
        <input class="form-control" type="username" ng-model="user.username" placeholder="Username"><br>
        <label class="form-label">PASSWORD</label>
        <input class="form-control" type="password" ng-model="user.password" placeholder="Password" ng-show="showpassword">
        <input class="form-control" type="text" ng-model="user.password" ng-hide="showpassword">
        
        <div class="div-row row">
            <span class="showpwd" ng-click="showpass()">
            <img src="img/eye.png" />                
            <span class="form-label">
                SHOW
            </span>

            </span>
        </div>
        <input type="submit" value="Sign in" class="btn btn-auth btn-primary center-block" />
    </form>
